@import url("https://fonts.googleapis.com/css2?family=Georama:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@layer base {
  body {
    @apply bg-base text-primary relative overflow-hidden;
    font-family: "Georama", sans-serif;
  }
  .tech {
    @apply bg-ascent rounded-md px-4 py-2 text-base text-xl flex justify-center items-center gap-1;
  }
  .tag {
    @apply bg-primary text-base px-3 rounded-md uppercase;
  }
  .socials {
    @apply h-10 w-10 bg-ascent p-2 rounded-md;
  }
  .nav-item {
    @apply block text-xl cursor-pointer;
  }
}
